.root{
    bg1: #0f0f0f;
    color1: white;
    color2: #aaaaaa;
    svgColor: white;
    hoverBG: #3d3d3d;
    searchBG: #121212;
    searchBorderColor: #303030;
    searchBtnBgColor: #222222;
    subscribeBG: white;
    subscribeTC: black;
}